body {
  /* background:url('/assets/images/abg.jpg'); */
  background: #ffffff !important;

}

.m-top {
  margin-top: 100px !important;
}
.card-img {
  background: url('/images/mosque.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.card{
  background: #e9e8e8;
  height: auto;
}


