<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Online Articles </title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/bootstrap.css">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus icon"></i>
        <div class="logo_name">Online Article</div>
        <i class="bx bx-menu" id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class="bx bx-search" ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a id="home" href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
     <li>
       <a id="articles" href="#">
         <i class="bx bx-chat" ></i>
         <span class="links_name">Articles</span>
       </a>
       <span class="tooltip">Articles</span>
     </li>
    
     <li>
       <a id="profile" href="#">
         <i class="bx bx-heart" ></i>
         <span class="links_name">Profile info</span>
       </a>
       <span class="tooltip">Profile info</span>
     </li>
     <li>
       <a href="/api/dashboard/logout">
        <i class="fas fa-sign-out-alt"></i>
         <span class="links_name">Log Out</span>
       </a>
       <span class="tooltip">Log Out</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="/images/avatar/profile.jpg" alt="profileImg">
           <div class="name_job">
             <div class="name">Reza Ahmad Nezhad</div>
             <div class="job">Backend Developer</div>
           </div>
         </div>
         <i class="bx bx-log-out" id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section id="home-section" class="section">
      <div class="text">Blogger Dashboard</div>
  </section>

  <section id="articles-section" class="section">
    <div class="text">Articles</div>
</section>
  <section id="profile-section" class="section">
    <!-- <div class="text">Profile</div> -->
    <%- include('./../partials/profile_info') -%>
    
</section>

  <script src="/javascripts/dashboard.js"></script>

</body>
</html>
