<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Online Articles </title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus icon"></i>
        <div class="logo_name">Online Article</div>
        <i class="bx bx-menu" id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class="bx bx-search" ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="#">
         <i class="bx bx-user" ></i>
         <span class="links_name">Bloggers</span>
       </a>
       <span class="tooltip">Bloggers</span>
     </li>
     <li>
       <a href="#">
         <i class="bx bx-chat" ></i>
         <span class="links_name">Articles</span>
       </a>
       <span class="tooltip">Articles</span>
     </li>
     <li>
       <a href="#">
         <i class="bx bx-pie-chart-alt-2" ></i>
         <span class="links_name">Analytics</span>
       </a>
       <span class="tooltip">Analytics</span>
     </li>
     <li>
       <a href="#">
         <i class="bx bx-folder" ></i>
         <span class="links_name">File Manager</span>
       </a>
       <span class="tooltip">Files</span>
     </li>
     <li>
       <a href="#">
         <i class="bx bx-cart-alt" ></i>
         <span class="links_name">Order</span>
       </a>
       <span class="tooltip">Order</span>
     </li>
     <li>
       <a href="#">
         <i class="bx bx-heart" ></i>
         <span class="links_name">Profile info</span>
       </a>
       <span class="tooltip">Settings</span>
     </li>
     <li>
       <a href="/api/dashboard/logout">
        <i class="fas fa-sign-out-alt"></i>
         <span class="links_name">Log Out</span>
       </a>
       <span class="tooltip">Log Out</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="/images/avatar/profile.jpg" alt="profileImg">
           <div class="name_job">
             <div class="name">Reza Ahmad Nezhad</div>
             <div class="job">Backend Developer</div>
           </div>
         </div>
         <i class="bx bx-log-out" id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Dashboard</div>
  </section>

  <script src="/javascripts/dashboard.js"></script>

</body>
</html>
