<!DOCTYPE html>
<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Fonts Poppins -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

	<!-- Jquery -->
	<script src="/javascripts/jquery-3.6.0.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">

	<script src="/javascripts/bootstrap.bundle.js"></script>

	<!-- Swal -->
	<link rel="stylesheet" type="text/css" href="/plugins/sweetalert2/sweetalert2.min.css">

	<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/login-register.css">

	<title>Register</title>
</head>

<body>
	<form id="login-form" method="get" action="/login"></form>
	<div class="back-home">
		<a href="/">
			Back Home
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
	<div class="container">
		<div class="img">
			<img src="/assets/svg/login_bg.svg">
		</div>

		<div class="login-content">
			<form class="data-form">
				<h2 class="title">Start Writing</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>First Name</h5>
						<input type="text" class="input" name="firstName">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Last Name</h5>
						<input type="text" class="input" name="lastName">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Username</h5>
						<input id="user-name" type="text" class="input" name="userName">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div d-flex justify-content-end">
						<h5>Password</h5>
						<input id="password1" type="password" class="input" name="password">
						<div class="d-flex justify-content-end align-items-center">
							<i id="show-pass" class="fas fa-eye-slash" onclick="showPass();"></i>
						</div>
					</div>

				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Confirm Password</h5>
						<input id="password2" type="password" class="input">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-phone"></i>
					</div>
					<div class="div">
						<h5>Phone Number</h5>
						<input id="phone-number" type="text" class="input" name="phoneNumber">
					</div>
				</div>
				<a href="/login"> Login</a>
				<input id="submit-btn" type="button" class="btn btn-primary" value="Register">
				<% if (error) { %>
				<p> <%= error %></p>
				<% } %>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/javascripts/register.js"></script>
</body>

</html>