
    <% if(user.role == 'admin') {%>
        <%- include('./../../partials/admin/_admin_dashboard_panel') -%>    
        
        <% }else {%>
        <%- include('./../../partials/blogger/_blogger_dashboard_panel') -%> 
        <% } %>

    
</body>
</html>