<%-include('./../../partials/admin/_admin_dashboard_panel') %>
<div class="container d-flex justify-content-end">
    <div class="row flex-lg-nowrap ">

        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
                </ul>
            </div>

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>Users</span><small class="px-1">Be a wise leader</small></h6>
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="align-top">
                                                  #
                                                </th>
                                                
                                                <th class="max-width">Name</th>
                                                <th class="sortable">Date Created</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <!-- Rows Added by ajax request -->

                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <ul class="pagination mt-3 mb-0">
                                        <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                                        <li class="active page-item"><a href="#" class="page-link">1</a></li>
                                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                                        <li class="page-item"><a href="#" class="page-link">›</a></li>
                                        <li class="page-item"><a href="#" class="page-link">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <!-- <hr class="my-3"> -->
                            <div class="e-navlist e-navlist--active-bold">
                                <ul class="nav">
                                    <li class="nav-item active"><a href=""
                                            class="nav-link"><span>All</span>&nbsp;<small>/&nbsp;32</small></a></li>
                                    <li class="nav-item"><a href=""
                                            class="nav-link"><span>Active</span>&nbsp;<small>/&nbsp;16</small></a></li>
                                    <li class="nav-item"><a href=""
                                            class="nav-link"><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a></li>
                                </ul>
                            </div>
                            <hr class="my-3">
                            <div>
                                <div class="form-group">
                                    <label>Date from - to:</label>
                                    <div>
                                        <input id="dates-range" class="form-control flatpickr-input"
                                            placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Search by Name:</label>
                                    <div><input class="form-control w-100" type="text" placeholder="Name" value="">
                                    </div>
                                    <div class="text-center px-xl-3 mt-2">
                                        <button class="btn btn-success btn-block" type="button" data-toggle="modal"
                                            data-target="#user-form-modal">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style type="text/css">
    body {
        margin-top: 20px;
        background: #f8f8f8
    }
</style>
<script src="/javascripts/user_management.js"></script>
</body>

</html>