<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Online Articles </title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <!-- <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"> -->
  <!-- overlayScrollbars -->
  <!-- <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"> -->

  <!-- Theme style -->
  <link rel="stylesheet" href="stylesheets/dist/css/adminlte.min.css">


  <!-- JQUERY -->
  <script src="/javascripts/jquery-3.6.0.js"></script>

  <!-- Boxicons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <script src="/javascripts/bootstrap.bundle.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/dashboard.css">

  <link rel="stylesheet" href="/stylesheets/profile_info.css">
  
  <!-- JS -->
  <script defer src="/javascripts/dashboard.js"></script>

  <script defer src="/javascripts/admin_panel.js"></script>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxs-book-reader icon"></i>
      <div class="logo_name">Online Article</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">

      <li>
        <a id="home" href="/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a id="bloggers" href="/dashboard/users">
          <i class="bx bx-user"></i>
          <span class="links_name">Bloggers</span>
        </a>
        <span class="tooltip">Bloggers</span>
      </li>
      <li>
        <a id="articles" href="#">
          <i class="bx bx-chat"></i>
          <span class="links_name">Articles</span>
        </a>
        <span class="tooltip">Articles</span>

        <!-- submenu -->
        <div id="article-submenu" class="">
          <ul>
            <li>
              <a id="my-article" href="/article?id=<%= user._id %>">
                <i class="bx bx-chat"></i>
                <span class="links_name">My Articles</span>
              </a>
            </li>
            <li>
              <a id="new-article" href="/article/new">
                <i class="bx bx-chat"></i>
                <span class="links_name">New Article</span>
              </a>
            </li>
            <li>
              <a id="all-article" href="/article">
                <i class="bx bx-chat"></i>
                <span class="links_name">All Articles</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- /submenu -->
      </li>
      <!-- <li>
       <a id="statistics" href="#">
         <i class="bx bx-pie-chart-alt-2" ></i>
         <span class="links_name">Statistics</span>
       </a>
       <span class="tooltip">Statistics</span>
     </li> -->

      <li>
        <a id="profile" href="/dashboard/profile">
          <i class="bx bx-heart"></i>
          <span class="links_name">Profile info</span>
        </a>
        <span class="tooltip">Profile info</span>
      </li>
      <li>
        <a href="/dashboard/logout">

          <i class="bx bx-exit"></i>
          <span class="links_name">Log Out</span>
        </a>
        <span class="tooltip">Log Out</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="/images/avatar/profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name">Reza Ahmad Nezhad</div>
            <div class="job">Backend Developer</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
  <!-- <section id="home-section" class="section">
      <div class="text">Admin Dashboard</div>
  </section>
  <section id="bloggers-section" class="section">
    <div class="text">Bloggers List</div>


</section>
  <section id="articles-section" class="section">
    <div class="text">Articles List</div>
</section>
  <section id="statistics-section" class="section">
    <div class="text">Statistics</div>
</section>
  <section id="profile-section" class="section">
    <div class="text">Profile</div>
   
</section> -->